.aswer-tweet-form {
  padding: 1.5rem 1.25rem;
  display: flex;
  gap: 0.5rem;
  border-bottom: 1px solid #2F2F2F;
  align-items: center;
}

.aswer-tweet-form label {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 0.75rem;
}

.aswer-tweet-form label img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 999px;
}

.aswer-tweet-form textarea {
  background: transparent;
  border: 0;
  resize: none;
  color: var(--text);
  flex: 1;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 1.25rem;
}

.aswer-tweet-form textarea:focus {
  outline: none;
}

.aswer-tweet-form textarea::placeholder {
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--placeholder);
}

.aswer-tweet-form button[type=submit] {
  background-color: var(--twitter-blue);
  border-radius: 999px;
  padding: 0.75rem 1.5rem;
  color: var(--text);
  font-weight: 900;
  justify-content: center;
  border: 0;
  margin-left: auto;
}

.aswer-tweet-form button[type=submit]:hover {
  filter: brightness(0.9);
}

.aswer-tweet-form button[type=submit] svg {
  width: 1.5rem;
  height: 1.5rem;
  display: none;
}



@media (max-width: 780px) {
  .aswer-tweet-form textarea {
    font-size: 1rem;
  }

  .aswer-tweet-form button[type=submit]{
    padding: 0.75rem;
  }

  .aswer-tweet-form button[type=submit] svg {
   display: block;
  }

  .aswer-tweet-form button[type=submit] span {
    display: none;
  }
}